<div class="boxes">
    <h3>Game of Life</h3>
    <div class="grid-container-gameoflife">
        <img class="grid-item" src="/assets/logos/html-logo.png">
        <img class="grid-item" src="/assets/logos/typescript-logo.png">
        <img class="grid-item" src="/assets/logos/scss-logo.png">
    </div>
    <a class="link-button" routerLink="/" routerLinkActive="active">🕹️Play Game of Life!🕹️</a>
    <ul>
        <li>This project was a challenge to recreate John Conway's Game of Life in an Angular web environment.</li>
        <li>It was a great opportunity to learn more about Angular and its capabilities.</li>
        <li>There are many features you can add to a Game of Life implementation, and I want to add more!</li>
    </ul>
</div>

<div class="boxes">
    <h3>FizzBuzzinator</h3>
    <div class="grid-container-fizzbuzzinator">
        <img class="grid-item" src="/assets/logos/html-logo.png">
        <img class="grid-item" src="/assets/logos/typescript-logo.png">
        <img class="grid-item" src="/assets/logos/scss-logo.png">
    </div>
    <a class="link-button" href="https://mxx1aa.github.io/FizzBuzzinator/" target="_blank"
        rel="noopener noreferrer">🫧Start
        FizzBuzzing!🐝</a>
    <ul>
        <li>My very first Angular project! This project takes an integer input, and then prints it out on the side! Some
            numbers will print Fizz, some will print Buzz, and others will print FizzBuzz!</li>
    </ul>
</div>


<div id="store-photos" class="boxes">
    <h3>Store Photos</h3>
    <div class="grid-container-storephotos">
        <img class="grid-item" src="/assets/logos/html-logo.png">
        <img class="grid-item" src="/assets/logos/typescript-logo.png">
        <img class="grid-item" src="/assets/logos/scss-logo.png">
        <img class="grid-item" src="/assets/logos/csharp-logo.png" alt="placeholder">
    </div>
    <p>Date Versioning Feature</p>
    <ul>
        <li>This feature allows users to view different PDF versions of store photos based on their date.</li>
        <li>Followed SDLC best practices including handling the release management process, version control and peer
            review processes in GitHub, and documenting the feature specifications in Confluence.
        </li>
        <li>Followed an MVC structure: The API receives requests from the frontend, and grabs PDF data from the
            database.</li>

        <li>Angular signals to assign results from the API to a signal, then populated a select element with options
            based on versions available for the PDF record.
        </li>
        <li>I used RxJS mapping to sort PDF titles by date, making searching for versions much easier.
        </li>
        <li>For each new function added, I applied error handling for situations. For example, there are cases where
            normalized data isn't present, so these results need to be excluded.
        </li>
    </ul>
</div>