html * {
  box-sizing: border-box;
}

/* You can add global styles to this file, and also import other style files */
body {
  background-color: #351f1f;
  margin: 0;
}

.section-titles {
  margin: 0px 300px 40px 300px;
  text-align: center;
  font-size: 35px;
  padding: 0px 0px;
  position: relative;
}

h2 {
  display: inline-block;
  padding: 8px 15px;
  position: relative;
  z-index: 3;
  background-color: #483131;
  color: #dad2c7;
  text-shadow: 0.2rem 0.3rem #191919;
  margin: 0;
  border-radius: 1rem;
  outline: 0.5rem solid #191919;
}

h3 {
  margin: 0 0 2rem 0;
}

.section-titles::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #dad2c7;
  outline: 0.6rem solid #191919;
  z-index: 2;
  border-radius: 1rem;
  // box-shadow: inset 0 0 0 5px #191919;
}

.boxes {
  background-color: #dad2c7;
  margin-bottom: 40px;
  width: 80%;
  max-width: 1400px;
  justify-self: center;
  text-align: center;
  padding: 2rem;
  outline: 8px solid #191919;
  border-radius: 1rem;
}

.boxes h3 {
  font-size: 40px;
  color: #33302f;
  //text-shadow: 0.2rem 0.1rem 3px #8f7979;
}

.boxes p {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 2.3rem;
  color: #352722;
}

.boxes ul {
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 2.3rem;
  color: #352722;
  list-style-type: square;
  max-width: 900px;
  margin-bottom: 15px;
  justify-self: center;
}

.boxes li {
  text-align: left;
  margin-bottom: 1rem;
}

@media (max-width: 850px) {
  .section-titles {
    font-size: 20px;
    justify-self: center;
  }
  .boxes {
    margin: 2.5rem;
    justify-self: center;
    outline: 0.4rem solid #191919;
  }

  h2 {
    font-size: 30px;
    outline: 0.4rem solid #191919;
  }
  .boxes h3 {
    font-size: 25px;
  }
  .boxes p {
    font-size: 20px;
  }
  .boxes li {
    font-size: 18px;
  }
}
